[Unit]
Description=SuPi-8 Recorder
After=multi-user.target
Wants=network.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 10
User=%i
WorkingDirectory=%h
ExecStart=/usr/bin/python3 %h/supi-8-recorder.py
Restart=on-failure
RestartSec=3
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target