[Unit]
Description=SuPi-8 Light-Triggered Video Recorder
After=multi-user.target
Wants=network-online.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 20
ExecStart=/usr/bin/python3 /home/pi/supi-8-recorder.py
Restart=on-failure
RestartSec=3
User=pi
WorkingDirectory=/home/pi
Environment=PYTHONUNBUFFERED=1


[Install]
WantedBy=multi-user.target
