[Unit]
Description=SuPi-8 Recorder
After=multi-user.target
Wants=network.target

[Service]
Type=simple
KillSignal=SIGTERM
TimeoutStopSec=5

User=supi
Group=supi

WorkingDirectory=/opt/supi

ExecStart=/usr/bin/python3 /opt/supi/worker/supi-8-recorder.py

Restart=on-failure
RestartSec=3

Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
