# SPDX-License-Identifier: GPL-3.0-only
[Unit]
Description=SuPi-8 First-Boot Default Login
After=local-fs.target
ConditionPathExists=!/boot/firmware/supi-8-login-done

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/set-default-login.sh

[Install]
WantedBy=multi-user.target
